.page-navigation {
	background-color: #FFCCCC;
	color: #FFF;
    height: 50px;
}

.page-navigation ul {
	list-style: none;
}

.page-navigation ul li {
	padding: 0 25px;
    float: left;
    line-height: 50px;
}
.page-navigation ul li a {
	color:#fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.page-navigation ul li a:hover {
	color:#FFF;
    text-decoration: underline;
	
}

.index-title { 
    color:#59ACFF; } 

.videos-title {
	color:#990000;
    text-decoration: underline;
}

.class2 li a {
	color:pink;
}

.class2 li a:hover {
	color:green;
    text-decoration: none;
}